html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.main {
	width: 400px;
	margin: 150px auto;
}

hr {
	color: black;
}

.content {
	font-family: 'Roboto', sans-serif;
	font-size: 250%;
	text-align: center;
	border: 1px solid #245475;
	width: 400px;
	padding: 5px;
	border-radius: 7px;
	box-shadow: 0 0 20px #535658;
	margin-bottom: 20px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.buttons {
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.button {background: #2c701b; background: -webkit-gradient(linear, left top, left bottom, from(#a3997c), to(#2c701b)); background: -moz-linear-gradient(top, #a3997c, #2c701b); background: -o-linear-gradient(top, #a3997c, #2c701b); padding: 7.5px 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0; text-shadow: rgba(0,0,0,.4) 0 1px 0; color: #ffffff; font-size: 17px; font-family: Georgia, serif; text-decoration: none; vertical-align: middle; } .button:hover { color: #ffffff; background: #2a5c2c; background: -webkit-gradient(linear, left top, left bottom, from(#0b290b), to(#2a5c2c)); background: -moz-linear-gradient(top, #0b290b, #2a5c2c); background: -o-linear-gradient(top, #0b290b, #2a5c2c); } .button:active { border-top-color: #2c701b; background: #2c701b; }

.info {
	position: relative;
	padding-bottom: 100px;
	text-align: center;
}

.close-img {
	position: absolute;
	width: 14px;
	padding-left: 5px;
}

.add-img {
	margin-left: -39px; 
	float: right;
	width: 37px;
}

.active {
	opacity: 0;
}

.showRules {
	border-bottom: 1px dashed #000000;
}

.control {
	cursor: default;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: absolute;
	margin-top: 20px;
	margin-left: 4px;
}

.rules {
	padding-top: 5px;
}

.word {
	
}